<!DOCTYPE html>
<html>
  <head>
    {{! Document Settings from zero }}
    <meta charset="utf-8" />
	  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{! Page Meta from zero}}
    <title>Jonny Tiernan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:image" content="{{asset "images/dawgs.jpg"}}" />
    <link rel="canonical" href="jonnytiernan.com">
    <meta property="og:url" content="jonnytiernan.com">
    <meta property="og:image" content="{{asset "images/dawgs.jpg"}}">
    <meta name="twitter:image" content="{{asset "images/dawgs.jpg"}}">
    <meta name="twitter:url" content="jonnytiernan.com">
    <meta property="og:image:width" content="1429">
    <meta property="og:image:height" content="893">
    <link rel="alternate" type="application/rss+xml" title="Jonny Tiernan" href="jonnytiernan.com/blog/rss/">
    {{! Styles'n'Scripts }}
    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{asset "css/jt.css"}}">
    <link rel="stylesheet" type="text/css" href="{{asset "css/jtmobile.css"}}">
    {{! Ghost outputs important style and meta data with this tag }}
  </head>
  <div id="content-wrapper">
    {{{body}}}
  </div>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
    <script type="text/javascript" src="{{ asset "assets/js/jquery-3.3.1.slim.min.js"}}"></script>
    <script type="text/javascript" src="{{ asset "assets/js/jt.js"}}"></script>
</html>
